<a href="https://colab.research.google.com/github/nikhilzanje/eda/blob/main/List7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem  1
A list  contains the average daily temperature(in degree celcius) of a city  over a particular week.Write a python code to swap the highest and lowest temperatures

In [2]:
#A list containing daily temperature through a week
temperatures=[34,40,29,33,42,37,39]

#highest temperature
max_temp=max(temperatures)
#max value index
max_temp_index=temperatures.index(max_temp)
#lowest temperature
min_temp=min(temperatures)
#storing min value index
min_temp_index=temperatures.index(min_temp)
#Now swap  the elements using index positions
temperatures[min_temp_index]=max_temp
temperatures[max_temp_index]=min_temp
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

Problem 2
Measure of averages
i)mean of  a group is defined  as sum of elements in the group divided by the number of elements in the group.
ii)median is the middle number in a sorted,ascending,descinding,list of numbers.If the list has N numbers where N is odd,then median is the element in the middle i.e(N+1/2)th element.If N is even then the median is the mean of(N/2)th and (N/2+1)th elements.

In [4]:
#List of product prices
prod_price_list=[400,250,800,550,600,820,720,15000,360,250]

#Calculate the mean of product prices.Use list functions.Also print the mean prices
mean_price=sum(prod_price_list)/len(prod_price_list)
print(f"mean_price :{mean_price}")

#Calculate the median price
#obtain the sorted price 
sorted_price= sorted(prod_price_list)
print(f"sorted_prices:{sorted_price}\n")

#check if the number of elements  in the list is even or odd
print(f"the list is even or odd :{len(prod_price_list)%2==0}\n")
#use the corresponding formula to calculate the median  and print the median
#first sorted element
sort_elements=len(sorted_price)
print(f"sort_elements:{sort_elements}")
median_price=(sorted_price[int(sort_elements/2-1)]+sorted_price[int(sort_elements/2)])/2
print(f"median is:{median_price}")
# check which is greater mean and median
if(mean_price>median_price):
  print(f"\n mean is greater")
else:
  print(f"\n median is greater")

mean_price :1975.0
sorted_prices:[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

the list is even or odd :True

sort_elements:10
median is:575.0

 mean is greater

Problem 3
Having  a nested list sometimes might be a bit probleatic.An  individual was asked to asked to collect the names of companies in the technology sector.While  creating the list by mistake the last three companies were suvsumed in a list as shown below.You are required to get rid of nesting

In [6]:
#The list  of tech companies curated by the individual
tech_companies=['Qualcomm','google','apple',['Nvidia','cisco','samsng']]
#the final list that we want
#correct_tech_companies-['qualcom','google','apple','nvidia','cisco','samsung']
#write your code below
remove_element=tech_companies[-1]
tech_companies.remove(remove_element)
#now add
add_element=tech_companies.extend(remove_element)
print(tech_companies)

['Qualcomm', 'google', 'apple', 'Nvidia', 'cisco', 'samsng']